<div class="container"  id="homePage">
    <div class="panel panel-default">
        <div class="panel-heading"><label class="title">Trang chủ</label></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-3">
                    <a href="#admin/student">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center">
                                <div class="group-button-student">
                                    <label class="btn btn-default btn-group-home">Học sinh </label>
                                </div>
                            </div>
                            <div class="panel-footer text-center">
                                <label class="title">Danh sách</label>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#admin/operator">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center">
                                <div class="group-button-student">
                                    <label class="btn btn-default btn-group-home">Tổ chức </label>
                                </div>
                            </div>
                            <div class="panel-footer text-center">
                                <label class="title">Danh sách</label>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#admin/supervisor">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center">
                                <div class="group-button-student">
                                    <label class="btn btn-default btn-group-home">Phụ trách </label>
                                </div>
                            </div>
                            <div class="panel-footer text-center">
                                <label class="title">Danh sách</label>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#admin/resource">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center">
                                <div class="group-button-student">
                                    <label class="btn btn-default btn-group-home">Tài nguyên</label>
                                </div>
                            </div>
                            <div class="panel-footer text-center">
                                <label class="title">Danh sách</label>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#admin/new">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center">
                                <div class="group-button-student">
                                    <label class="btn btn-default btn-group-home">Tin tức </label>
                                </div>
                            </div>
                            <div class="panel-footer text-center">
                                <label class="title">Danh sách</label>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#admin/maintain">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center">
                                <div class="group-button-student">
                                    <label class="btn btn-default btn-group-home">Bảo trì </label>
                                </div>
                            </div>
                            <div class="panel-footer text-center">
                                <label class="title">Danh sách</label>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>