<div div class="container" ng-controller="passwordProfileController">
    <div class="panel panel-default">
        <div class="panel-heading"><label class="title">Thông tin nhóm</label></div>
        <div class="panel-body">
            <form class="form-horizontal form-label-left" name="frm_change" novalidate ng-submit="changPassword()">

                <div class="form-group" ng-class="{'has-error': (frm_change.password.$touched && frm_change.password.$invalid) || (frm_change.$submitted && frm_change.password.$invalid)}">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Mật khẩu</label>
                    <div class="col-md-9 col-sm-9 col-xs-12" >
                        <input type="password" class="form-control" ng-minlength="6" name="password" required ng-model="password" placeholder="Mật khẩu">
                        <div ng-messages="frm_change.password.$error" ng-show="frm_change.password.$touched || frm_change.$submitted">
                            <span class="error" ng-message="required">Vui lòng nhập mật khẩu</span>
                            <span class="error" ng-message="minlength">Mật khẩu ít nhất 6 ký tự</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':(frm_change.new_pass.$touched && frm_change.new_pass.$invalid) || (frm_change.$submitted && frm_change.new_pass.$invalid)}">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Mật khẩu mới</label>
                    <div class="col-md-9 col-sm-9 col-xs-12" >
                        <input type="password" class="form-control" ng-minlength="6" name="new_pass" ng-model="new_pass" required placeholder="Nhập lại mật khẩu">
                        <div ng-messages="frm_change.new_pass.$error" ng-show="frm_change.new_pass.$touched || frm_change.$submitted">
                            <span class="error" ng-message="required">Vui lòng nhập mật khẩu mới</span>
                            <span class="error" ng-message="minlength">Mật khẩu ít nhất 6 ký tự</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':(frm_change.new_pass_confirm.$touched && frm_change.new_pass_confirm.$invalid) || (frm_change.$submitted && frm_change.new_pass_confirm.$invalid)}">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Nhập lại mật khẩu mới</label>
                    <div class="col-md-9 col-sm-9 col-xs-12" >
                        <input type="password" class="form-control" compare-to="new_pass" ng-minlength="6" name="new_pass_confirm" ng-model="new_pass_confirm" required placeholder="Nhập lại mật khẩu">
                        <div ng-messages="frm_change.new_pass_confirm.$error" ng-show="frm_change.new_pass_confirm.$touched || frm_change.$submitted">
                            <span class="error" ng-message="required">Vui lòng nhập lại mật khẩu mới</span>
                            <span class="error" ng-message="minlength">Mật khẩu ít nhất 6 ký tự</span>
                            <span class="error" ng-message="compareTo">Mật khẩu nhập lại không hợp lệ</span>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-2">
                        <button type="submit" class="btn btn-success">Gửi</button>
                        <a  class="btn btn-default" href="#supervisor/profile">Hủy bỏ</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>