<div class="login_wrapper" ng-controller="changePasswordResset">
    <div class="animate form login_form">
        <section class="login_content">
            <form name="frm_password" novalidate ng-submit="passwordResset()" >
                <h1>Thay đổi mật khẩu</h1>
                <div class="form-group" ng-class="{'has-error': (frm_password.password.$touched && frm_password.password.$invalid) || (frm_password.email.$invalid && frm_password.$submitted) }">
                    <input type="password" name="password" ng-model="password" style="margin: 5px 0px" class="form-control" placeholder="Mật khẩu" required />
                    <div ng-messages="frm_password.password.$error" ng-show="frm_password.password.$touched || frm_password.$submitted">
                        <span class="error" ng-message="required">Vui lòng nhập mật khẩu</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': (frm_password.confirm_password.$touched && frm_password.confirm_password.$invalid) || (frm_password.confirm_password.$invalid && frm_password.$submitted) }">
                    <input type="password" name="confirm_password" ng-model="confirm_password" compare-to="password" style="margin: 5px 0px" class="form-control" placeholder="Nhập lại mật khẩu" required />
                    <div ng-messages="frm_password.confirm_password.$error" ng-show="frm_password.confirm_password.$touched || frm_password.$submitted">
                        <span class="error" ng-message="required">Vui lòng nhập lại mật khẩu</span>
                        <span class="error" ng-message="compareTo">Mật khẩu nhập lại không chính xác</span>
                    </div>
                </div>
                <div>
                    <button class="btn btn-default submit" type="submit">Thay đổi</button>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <div class="clearfix"></div>
                    <div>
                        <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>